# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Progmatic\Project 2020_11_11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
